# Libreries

In [2]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import defaultdict

# Data Import

In [45]:
pozzi = pd.read_csv('/Users/danieletribuzio/Documents/GitHub/VA_Project/DataSet/pozzi_4326.csv',
                    sep = ';' ,index_col = 'nome')
len(pozzi)

3811

In [46]:
pozzi

,key,oid,lat,lon,quota,entitam,camploc,locgeo,regione,provincia,...,prof,esito,scopo,uso,posizione,stato,lon_wgs84,lat_wgs84,tr,pdf
nome,,,,,,,,,,,,,,,,,,,,,
TRAVALE SUD1,1001599.0,4003,"430938,39","12319,3",425,NaN,TRAVALE/RADIC.B,NaN,TOSCANA,SIENA,...,3000,INDUSTRIALMENTE STERILE,GEOTERMICO,NON INDICATO,TERRA,CHIUSO TEMPORANEAMENTE,"11,0633887","43,16131472",NaN,NaN
SANLUIGI 3,1008896.0,2800,431305,13242,547,CASTELNUOVO DI VAL DI CECINA,LARDERELLO A,NaN,TOSCANA,PISA,...,412,FLUIDO GEOTERMICO,GEOTERMICO,NON INDICATO,TERRA,IN PRODUZIONE,"10,90707664","43,2187066",NaN,"<a href=""http://unmig.mise.gov.it/deposito/poz..."
MONTIERI 4,1007766.0,4006,430903,12609,541,NaN,TRAVALE/RADIC.B,NaN,TOSCANA,GROSSETO,...,3721,INDUSTRIALMENTE STERILE,GEOTERMICO,NON INDICATO,TERRA,CHIUSO TEMPORANEAMENTE,"11,01624804","43,15148412",NaN,NaN
ADARBIA,679405.0,2063,431015,"13813,28",440,CASTELNUOVO DI VAL DI CECINA,LARDERELLO A,NaN,TOSCANA,PISA,...,1289,INDUSTRIALMENTE STERILE,GEOTERMICO,NON INDICATO,TERRA,CHIUSO TEMPORANEAMENTE,"10,81505139","43,17148335",NaN,"<a href=""http://unmig.mise.gov.it/deposito/poz..."
VC 7,787773.0,2112,431019,"13713,28",234,CASTELNUOVO DI VAL DI CECINA,LARDERELLO A,NaN,TOSCANA,PISA,...,1425,INDUSTRIALMENTE STERILE,GEOTERMICO,NON INDICATO,TERRA,CHIUSO TEMPORANEAMENTE,"10,83171867","43,17259456",NaN,"<a href=""http://unmig.mise.gov.it/deposito/poz..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NOTO 2,1668004.0,1109,364859,"23443,72",22,NOTO,NaN,NaN,SICILIA,SIRACUSA,...,3200,STERILE,IDROCARBURI,NESSUNO,TERRA,NON INDICATO,"15,03107646","36,81699623","5,5","<a href=""http://unmig.mise.gov.it/deposito/poz..."
CATANIA 10,2068006.0,377,372744,"23649,72",5,CATANIA,NaN,NaN,SICILIA,CATANIA,...,2730,STERILE,IDROCARBURI,NON INDICATO,TERRA,NON INDICATO,"15,0660748","37,46283427","3,9","<a href=""http://unmig.mise.gov.it/deposito/poz..."
TREVIGLIO 2,6924006.0,1834,453214,"25143,28","130,45",TREVIGLIO,NaN,NaN,LOMBARDIA,BERGAMO,...,846,NON DISPONIBILE,IDROCARBURI,NON INDICATO,TERRA,NON INDICATO,"9,589979108","45,53789558",NaN,"<a href=""http://unmig.mise.gov.it/deposito/poz..."
LAMBRATE 1D,1006821.0,3127,452918,31133,119,SEGRATE,NaN,NaN,LOMBARDIA,MILANO,...,NaN,NON DISPONIBILE,NON INDICATO,NON INDICATO,TERRA,NON INDICATO,"9,259488814","45,48900409",NaN,"<a href=""http://unmig.mise.gov.it/deposito/poz..."
SABBIONCELLO 3,1008017.0,3182,444949,3636,4,COPPARO,NaN,NaN,EMILIA ROMAGNA,FERRARA,...,NaN,NON DISPONIBILE,NON INDICATO,NON INDICATO,TERRA,NON INDICATO,"11,84209767","44,83095343",NaN,"<a href=""http://unmig.mise.gov.it/deposito/poz..."

In [43]:
pozzi_litstr = pd.read_csv('/Users/danieletribuzio/Documents/GitHub/VA_Project/DataSet/pozzi_litstr_epsg4326.csv',
                           sep = ';', index_col = 'nome')
len(pozzi_litstr)

10623

In [44]:
pozzi_litstr

,X,Y,key,nomeunita1,nomeunita2,daprof,aprof,litologia,posizione,rango,etarel,a,oid
nome,,,,,,,,,,,,,
SANLUIGI 3,"10,90707664","43,2187066",1008896,NaN,NaN,335,"416,5",SCISTI VERDI-QUARZITI,NaN,NaN,NaN,NaN,9765.0
SANLUIGI 3,"10,90707664","43,2187066",1008896,NaN,NaN,330,335,ARENARIA,NaN,NaN,NaN,NaN,9764.0
SANLUIGI 3,"10,90707664","43,2187066",1008896,NaN,NaN,0,330,ARGILLITE-CALCARE MARNOSO,NaN,NaN,NaN,NaN,9763.0
ANQUA,"10,98866869","43,20926244",5535024,FILLADI DI BOCCHEGGIANO,BASAMENTO METAMORFICO S.L.,2000,2637,MICASCISTI,AUTOCTONO,FORMAZIONE,PALEOZOICO,NaN,3511.0
ANQUA,"10,98866869","43,20926244",5535024,FILLADI DI BOCCHEGGIANO,BASAMENTO METAMORFICO S.L.,840,2000,"FILLADI SERIC.CLORIT.GRAFIT.,ANIDRI",ALLOCTONO,FORMAZIONE,PALEOZOICO,NaN,3510.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
CATANIA 10,"15,0660748","37,46283427",2068006,NaN,NaN,1040,1150,CALCARI,NaN,NaN,GIURASSICO,NaN,623.0
CATANIA 10,"15,0660748","37,46283427",2068006,NaN,NaN,600,1040,"VULCANITI, ARGILLE ED ARENARIE",NaN,NaN,PLIOCENE,NaN,622.0
CATANIA 10,"15,0660748","37,46283427",2068006,NaN,NaN,0,600,ARGILLE CON SABBIE E CIOTTOLI,NaN,NaN,QUATERNARIO,NaN,621.0
TREVIGLIO 2,"9,589979108","45,53789558",6924006,NaN,NaN,536,846,ARGILLE CON GHIAIE E SABBIE,NaN,NaN,PLIOCENE,NaN,6454.0
TREVIGLIO 2,"9,589979108","45,53789558",6924006,NaN,NaN,0,536,SABBIE E ARGILLE,NaN,NaN,QUATERNARIO,NaN,6453.0

In [47]:
pozzi_temp = pd.read_csv('/Users/danieletribuzio/Documents/GitHub/VA_Project/DataSet/pozzi_temperature_epsg4326.csv',
                         sep = ';', index_col = 'nome')
len(pozzi_temp)

12654

In [50]:
pozzi_temp

,X,Y,key,data,prof,temp,tcirc,tstop,metodo,oid
nome,,,,,,,,,,
100,"10,86366384","43,22370644",76775,10/06/87,0,223,NaN,NaN,0,16184
101,"10,86268771","43,23436398",590093,12/06/87,0,220,NaN,NaN,0,16185
102,"10,8563976","43,22758325",335965,12/06/87,0,220,NaN,NaN,0,18318
102BIS,"10,87066876","43,23902539",928368,01/12/75,0,150,NaN,NaN,0,16194
102BIS,"10,87066876","43,23902539",928368,06/06/89,200,155,NaN,NaN,0,16186
...,...,...,...,...,...,...,...,...,...,...
ZUCCANTINE 2,"10,79032844","43,14926074",116350,31/03/64,300,86,NaN,933,0,15884
ZUCCANTINE 2,"10,79032844","43,14926074",116350,31/03/64,450,100,NaN,933,0,15885
ZUCCANTINE 2,"10,79032844","43,14926074",116350,31/03/64,500,105,NaN,933,0,15886
ZUCCANTINE 2,"10,79032844","43,14926074",116350,31/03/64,600,115,NaN,933,0,15887
ZUCCANTINE 2,"10,79032844","43,14926074",116350,31/03/64,800,114,NaN,933,0,15888