# Libreries

In [31]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import defaultdict

# Data Import

In [32]:
pozzi = pd.read_csv('/Users/danieletribuzio/Documents/GitHub/VA_Project/DataSet/pozzi_4326.csv',
                    sep = ';')
pozzi_litstr = pd.read_csv('/Users/danieletribuzio/Documents/GitHub/VA_Project/DataSet/pozzi_litstr_epsg4326.csv',
                           sep = ';')
pozzi_temp = pd.read_csv('/Users/danieletribuzio/Documents/GitHub/VA_Project/DataSet/pozzi_temperature_epsg4326.csv',
                         sep = ';')

## index selection

## missing values for variable `key`

In [33]:
pozzi['key'].isnull().sum()

0

In [34]:
pozzi_litstr['key'].isnull().sum()

0

In [35]:
pozzi_temp['key'].isnull().sum()

0

In [36]:
pozzi.set_index('key').head(2)

,oid,nome,lat,lon,quota,entitam,camploc,locgeo,regione,provincia,...,prof,esito,scopo,uso,posizione,stato,lon_wgs84,lat_wgs84,tr,pdf
key,,,,,,,,,,,,,,,,,,,,,
9909,2289,ACERNO 1,404230,"23520,72",456,ACERNO,NaN,NaN,CAMPANIA,SALERNO,...,4625,STERILE,IDROCARBURI,NESSUNO,TERRA,CEMENTATO,"15,04133623","40,70897352","4,2","<a href=""http://unmig.mise.gov.it/deposito/poz..."
12930,2125,PC 20,"425046,8","4433,4",560,PIANCASTAGNAIO,MONTE AMIATA D,NaN,TOSCANA,SIENA,...,544,FLUIDO GEOTERMICO,GEOTERMICO,NON INDICATO,TERRA,IN PRODUZIONE,"11,70949795","42,84698426",NaN,"<a href=""http://unmig.mise.gov.it/deposito/poz..."

In [37]:
pozzi_litstr.set_index('key').head(2)

,X,Y,nome,nomeunita1,nomeunita2,daprof,aprof,litologia,posizione,rango,etarel,a,oid
key,,,,,,,,,,,,,
124,NaN,NaN,180,MANCANZA DATI,NaN,Unità,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,NaN,NaN,340,GHIAIE CON INTERCALATE SABBIE E ARGILLE,NaN,Unità,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
pozzi_temp.set_index('key').head(2)

,X,Y,nome,data,prof,temp,tcirc,tstop,metodo,oid
key,,,,,,,,,,
76775,"10,86366384","43,22370644",100,10/06/87,0,223,NaN,NaN,0,16184
590093,"10,86268771","43,23436398",101,12/06/87,0,220,NaN,NaN,0,16185